.navbar .navbar-brand img {
  width: 80px;
}

.text-platzi {
  color: #97c93e !important;
}

#carousel {
  position: relative;
}

#carousel .carousel-inner img {
  max-height: 70vh;
}

#carousel img {
  filter: grayscale(70%);
}

#carousel .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}
